
source "lotus/drivers/clk/Kconfig"
source "lotus/drivers/clocksource/Kconfig"
source "lotus/drivers/power/Kconfig"
source "lotus/drivers/net/Kconfig"
source "lotus/drivers/mtd/Kconfig"
source "lotus/drivers/mfd/Kconfig"
source "lotus/drivers/i2c/Kconfig"
source "lotus/drivers/pwm/Kconfig"
source "lotus/drivers/spi/Kconfig"
source "lotus/drivers/mmc/Kconfig"
source "lotus/drivers/usb/Kconfig"
source "lotus/drivers/dma/Kconfig"
source "lotus/drivers/rtc/Kconfig"
