config SPI_PL022_LOTUS
        tristate "ARM AMBA PL022 SSP controller"
        depends on ARM_AMBA
        default y if MACH_U300
        default y if ARCH_REALVIEW
        default y if INTEGRATOR_IMPD1
        default y if ARCH_VERSATILE
        help
          This selects the ARM(R) AMBA(R) PrimeCell PL022 SSP
          controller. If you have an embedded system with an AMBA(R)
          bus and a PL022 controller, say Y or M here.


