config I2C_LOTUS
        tristate "Lotus IPC I2C Controller"
        depends on ARCH_LOTUS
        help
          Say Y here to include support for Lotus IPC I2C controller in the
          Lotus IPC SoCs.

          This driver can also be built as a module.  If so, the module
          will be called i2c-lotus.

config DMA_MSG_MIN_LEN
        int "Lotus I2C support DMA minimum LEN"
        depends on I2C_LOTUS
        range 1 4090
        default 5
        help
                The i2c_msg minimum LEN of i2c support DMA,range from 1 to 4091

config DMA_MSG_MAX_LEN
        int "Lotus I2C support DMA maximum LEN"
        depends on I2C_LOTUS
        range DMA_MSG_MIN_LEN 4090
        default 4090
        help
                The i2c_msg maximum LEN of i2c support DMA,range from i2c_msg minimum LEN to 4090,
                because DMA for 0xFFC one-time  largest data transfers;
