choice
    prompt "Ethernet select"
    default LOTUS_FEMAC

config LOTUS_FEMAC
	tristate "Fast Ethernet MAC controller support"
	depends on HAS_IOMEM
	select PHYLIB
	select RESET_CONTROLLER
	help
	  This selects the Fast Ethernet MAC Controller(FEMAC).
	  The FEMAC receives and transmits data over Ethernet
	  ports at 10/100 Mbps in full-duplex or half-duplex mode.
	  The FEMAC exchanges data with the CPU, and supports
	  the energy efficient Ethernet (EEE).

config LOTUS_FTGMAC030
	tristate "Ftgmac030 Ethernet MAC controller support"
	depends on HAS_IOMEM
	select PHYLIB
	select RESET_CONTROLLER
	select LOTUS_PHY
	help
	  This selects the Ftgmac030 Ethernet MAC Controller(FTMAC).
	  The FTMAC receives and transmits data over Ethernet
	  ports at 10/100 Mbps in full-duplex or half-duplex mode.
	  The FTMAC exchanges data with the CPU, and supports
	  the energy efficient Ethernet (EEE).

endchoice
