CONFIG_PLATFORM  = xmorca
CONFIG_PLATFORM_XMORCA  = y
CONFIG_CFLAGS    = "-march=rv32imafc -mabi=ilp32f -mtune=e906 -Wall -Os"
CONFIG_LDFLAGS   = "--oformat=elf32-littleriscv -lm -L$(shell $(CC) -print-sysroot)/lib/rv32imafc/ilp32f/ -lgcc -L$(dir $(shell $(CC) $(CFLAGS) -print-libgcc-file-name))"

CONFIG_PRINT = y
#CONFIG_PRINTF = y
#CONFIG_SERIAL_DISABLE = y
#CONFIG_DEBUG_INFO = y
CONFIG_MALLOC = y
CONFIG_MCU_FW_MAGIC = 0x57465652
CONFIG_MCU_FW_VERSION = 1
CONFIG_MCU_SRAM_SIZE = 208*1024
CONFIG_MCU_HEAD_SIZE = 64
CONFIG_TEXT_BASE = 0x401C000
CONFIG_STAGE2_START = 0x4028000
CONFIG_STACK_SIZE = 8192
CONFIG_PARAM_MEM_SIZE = 4096
CONFIG_RESERVED_MEM_SIZE = (1 * 1024 * 1024)
#CONFIG_FPGA = y
CONFIG_I2C = y
CONFIG_BIN_END_PAD = 0xdeadbeef
CONFIG_PWM = y
#CONFIG_SIMPILE_SHELL = y
##CONFIG_UT_ENABLE = y
#CONFIG_XTHEAD_ISA_EXT = y
CONFIG_MEDIA_SUPPORT = y
#CONFIG_STOPWATCH_SUPPORT = y
CONFIG_MEDIA_PIPE_NUM = 1
#CONFIG_MEDIA_SAMPLE_QUICKSTART = y
